<<<<<<< HEAD


<div id="homepage"><img src="assets/errata_homepage_bg.jpg" alt="homepage"></div>
=======


<div id="homepage">


<img src="assets/errata_homepage_bg_ext.jpg" alt="homepage">

		

</div>

<div id="sign_in_box_container">

		<div id="sign_in_box">			
			<%= render "devise/sessions/new" %>
		</div>

</div>		
>>>>>>> fc43d6ed5e3286748e0fc862c39bcb2746308c94
