

<div id="homepage">


<img src="assets/errata_homepage_bg_ext.jpg" alt="homepage">

		

</div>

<div id="sign_in_box_container">

		<div id="sign_in_box">			
			<%= render "devise/sessions/new" %>
		</div>

</div>		