<%= form_for t_answer, remote: true do |t| %>

 

 <div class="field">
    <%= t.text_field :answer %>
  </div>


</br>
  <div class="actions">
    <%= t.submit "Answer" %>
  </div>
<% end %>




</br>