
Correct Answers: <div id="correct_answers"><%= @training_set.correct %></div> </br>

<% @training_set.training_ids %>

</br>


</br>


_____________________</br>
	<%= render @training_set.trainings.order(:id) %>

______________________</br>

<%= link_to "Back to Essays", essays_path %>
