
<% if current_user.role == 'Teacher' %>


<h1>New Mistake</h1>

<%= render 'form' %>

<%= link_to 'Back', mistakes_path %>


<% end %>



<% if current_user.role == 'Teacher' %>

<div id="sign_in_box">



<%= render 'form' %>


</div>

<% end %>

