<p>
  <strong>Category:</strong>
  <%= @mistake.category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @mistake.name %>
</p>


<table>
<%= render @mistake.links %>
</table>


<%= link_to 'Add link', new_mistake_link_path(@mistake) %>