/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_essay
 *= require_sidenav

 */


@import "bootstrap-sprockets";
@import "bootstrap";




$font-stack:    Helvetica, sans-serif;
$primary-color: #111;



body {

  font: 150% $font-stack;
  color: $primary-color;
  padding: 30px;
  background-color: #DEDEDD;
  background-repeat: repeat-y repeat-x;
  margin-bottom: 1000px;
}



ul, .nav navbar-nav navbar-right{
  padding-right: 25px;
}


.container-fluid{
  border: solid 1px black;
  margin-top: 3px;
  padding-bottom: 20px;
}




td {
	padding: 10px;
}

 .mistake {
  color: #FF0080;
  font-size: 150%;
  }




  a {
    display: block;
    text-decoration: none;
    color: #FF0080;
  }

  #logo{
    font-size: 40px;
    color: #FF0080;
  }

.yield {
  margin: 50px 0px 150px 0px;
}


.graph {
  background-color: white;
  padding: 10px;
}

.indextables {
    background: white;
    padding: 5px;
    margin: 4px;
}

.title {
  background-color: white;
  font-family: 'Roboto', sans-serif; font-weight: 100;
  font-size: 50px;
  color: #939393;
  width: 250px;
}

.pre_title {
  color: #FF0080;
  font-size: 18px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
background-color: white ;
color: #FF0080;

}

.nav-pills>li{
  border: solid 1px black;
}

.nav-justified {
   border-collapse:separate;
   border-spacing:70px 5px;
}

p>.notice {
 height: 200px; 
 color: blue;
}

p>.alert {
 height: 200px;
 color: blue;
}

ul .dropdown-menu>li{
  text-align: center;
  padding: 5px;
}


.teval {
  width: 750px;
}



#homepage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#homepage>img{
  position: relative;
  top: -75px;
  left: -50px;
}


.line{
  height: 3.05px; 
  width: 100%;
  background-color: #E9E9E9;
  position: absolute;
  top: 40%;
  z-index: -1;
}

.titles{
  height: 42px; 
  width: 253px; 
  color: #F2236A; 
  font-family: Roboto;  
  font-size: 36px;  
  font-weight: 500; 
  line-height: 42px;  
  text-align: center;
  background-color: #FFFFFF;
  margin: 0 auto;
}

.sentitle{
  font-weight: 300;
}

.title-block { 
height: 52px; 
width: 100%;
position: relative;
z-index: 1;
}

.rectangle {
  height: 36px;
  width: 170px;
  border-radius: 5px 0 0 0;
  background-color: #F2236A;
  
}

.originalbox {
  height: 16px;
  width: 170px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  padding: 10px 3px 10px;
}

.rectangle-tc {
  height: auto;
  width: auto;
  border: 15px solid #E9E9E9;
  background-color: #E9E9E9;
}

.pinktext {
  height: 16px;
  width: 184px;
  color: #F2236A;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}

.edit {
  padding-bottom: 25px;
}

.errors{
  height: 16px;
  width: 184px;
  color: #F2236A;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 10px;
}

