.mistake_categories, .mistake_names {
	float: left;
	border-style: solid;
	border-width: 1px;
	position: relative;
	background-color: white;

}

.mistake_names {
	position: absolute;
	display: none;
	min-width: 500px;	
	padding: 2px;
	padding-left: 10px;
	z-index: 1;
	color: black;
	margin-left: -10px;
}

.mistake_categories {
	margin: 2px;
	padding: 6px;
}

.lang_errors {
	right: 30px;
	position: absolute;
	color: #FF0080;
}

.lang_errors_panel {
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	background-color: white;
	padding: 5px;
	color: gray;
	min-height: 100px;
}




.btn-lg {
	position: fixed;
	bottom: 70px;
	right: 20px;
	background-color: #FF0080;
}

#recurrent {
	clear: both;
}

#active_paragraph > a{
	color: white;
}

.unsaved_wim_tables {
	clear: both;
}


#paragraph_view{
	width: 100%; 
}

.table-rectangle {
	background: #FFFFFF;
}

.table-striped{
border-collapse:separate;
border-spacing: 5px;
width: 100%;
border: 1px solid #D5D5D5;
}

.tcomments{
	display: none;
}

.tc-text{
	display: inline-block;
}

.arrow-right{
	display: inline-block;
}
