.blue {
	float: left;
	background-color: blue;
	width: 10px;
	height: 10px;
	z-index: 1;
	position: relative;
}

.green {
	float: left;
	background-color: green;
	width: 10px;
	height: 10px;
	z-index: 1;
}

.red {
	float: left;
	background-color: red;
	width: 10px;
	height: 10px;
	z-index: 1;
}

.orange {
	float: left;
	background-color: orange;
	width: 10px;
	height: 10px;
	z-index: 1;
}