<h1>Editing Correction</h1>

<%= @essay.body %>




<%= form_for([@essay, @correction]) do |f| %>
 
    
    

 <%= f.collection_check_boxes :mistake_ids, Mistake.all, :id, :category %>

     


      <div class="actions">
        <%= f.submit %>
      </div>
 
 <% end %>
