<<<<<<< HEAD
<h1>Editing Essay</h1>

<%= render 'form' %>

<%= link_to 'Back', essays_path %>
=======
<div class="sign_in_title">Editing Essay</div>

<%= render 'form' %>

<%= link_to 'Back', essays_path %>
>>>>>>> fc43d6ed5e3286748e0fc862c39bcb2746308c94
